<%= form_for(@savedate) do |f| %>
  <%= f.error_messages %>
    <p>
      <%= f.label :eventdate, "Event Date" %><br />
      <%= f.datetime_select :eventdate, :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}, :order => [:day, :month, :year] %>
    </p>

    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </p>

    <%= f.submit "Save Date" %>
<% end %>
